@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2F3061;
  --primary-hover: #2C2E90;
  --primary-active: #000E5F;
  --secondary: #DFDFDF;
}

.blink {
  animation: blink-animation 2.5s infinite;
  pointer-events: none;
}

@keyframes blink-animation {
  0% {
    @apply bg-orange-400;
  }
}

.ant-select-selector {
  @apply border-primary !important;
}

@media (max-width: 992px) {
  .ant-picker-panel:last-child .ant-picker-date-panel {
    display: none !important;
  }

  .ant-picker-panel:first-child
    .ant-picker-date-panel
    .ant-picker-header-next-btn,
  .ant-picker-panel:first-child
    .ant-picker-date-panel
    .ant-picker-header-super-next-btn {
    visibility: initial !important;
  }

  .ant-picker-panel.ant-picker-range-wrapper {
    min-width: 288px !important;
  }

  .ant-picker-presets {
    display: none !important;
  }
}

.ant-checkbox-checked .ant-checkbox-inner {
  @apply bg-primary border-primary;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: var(--secondary) !important;
  background-color: var(--secondary) !important;
}

.ant-btn-default {
  @apply border-primary text-primary;
  border: 1px solid var(--primary);

  &:hover {
    border-color: var(--primary-hover) !important;
    color: var(--primary-hover) !important;
  }
}

.btn-danger {
  @apply bg-red-500 text-white border-red-500;

  &:hover {
    @apply text-red-500 bg-white border-red-500 !important;
  }

  &:disabled {
    @apply pointer-events-none
  }
}

.btn-users {
  @apply bg-orange-500 text-white border-orange-500;

  &:hover {
    @apply bg-orange-600 text-white border-orange-600 !important;
  }

  &:disabled {
    @apply bg-neutral-300 text-neutral-500 border-neutral-300 !important;
  }
}

.ant-btn-primary {
  @apply bg-primary text-white;
  border: 1px solid var(--primary);

  &:hover {
    background-color: var(--primary-hover) !important;
    border-color: var(--primary-hover) !important;
    color: white !important;
  }

  &:active {
    background-color: var(--primary-active) !important;
    border-color: var(--primary-active) !important;
    color: white !important;
  }

  &:disabled {
    @apply pointer-events-none
  }
}

.ant-switch-checked {
  background-color: var(--primary) !important;
}

.text-title { 
  @apply text-base font-light text-neutral-500
}

.text-description { 
  @apply text-base font-light
}

.text-subtitle { 
  @apply text-3xl font-medium text-neutral-700
}
